{{#if candidate}}
<h2>{{candidate.name}} for President in {{candidate.year}}!</h2>
{{else}}
<h2>That candidate couldn't be found!</h2>
{{/if}}

<form action="/candidates" method="post">
  <input type="text" name="candidate[name]" placeholder="Name"  value="{{candidtate.name}}"/>
  <input type="number" name="candidate[year]" placeholder="Year" value="{{candidtate.year}}"/>
  <button type="submit">Edit Platform</button>
</form>
<{/unless)}
