{{#if candidate}}
<h2>{{candidate.name}} for President in {{candidate.year}}!</h2>
{{else}}
<h2>That candidate couldn't be found!</h2>
{{/if}}

<form action="/candidates/{{candidate.name}}/delete" method="post">
  <button type="submit">Concede</button>
</form>

<form action="/candidates/{{candidate.name}}" method="post">
  <label type="text">Name</label>
  <input type="text" name="candidate[name]" placeholer="Name" value="{{candidate.name}}"/>
  <label type="text">Year</label>
  <input type="text" name="candidate[year]" placeholer="Year" value="{{candidate.year}}" />
  <button type="Submit">Edit Candidate</button>
</form>
