{{#if candidate}}
<h2>{{candidate.name}} for President in {{candidate.year}}!</h2>

<form action="/candidates/{{candidates.name}}" method="post">
  <input type="text" name="candidate[name]" placeholder="Name" value="{{candidate.name}}"/>
  <input type="text" name="candidate[year]" placeholder="Year" value="{{candidate.year}}"/>
  <button type="submit">Run for Office</button>
</form>

{{else}}
<h2>That candidate couldn't be found!</h2>
{{/if}}
