{{#if candidate}}
<h2>{{candidate.name}} for President in {{candidate.year}}!</h2>
<form action="/candidates/{{candidate.name}}" method="post">
  <input type="text" name="candidate[name]" value={{candidate.name}} placeholder="Candidate Name" />
  <input type="text" name="candidate[year]" value={{candidate.year}} placeholder="Election Year" />
  <button type="submit">Edit Platform</button>
</form>
{{else}}
<h2>That candidate couldn't be found!</h2>
{{/if}}
