{{#if candidate}}
<h2>{{candidate.name}} for President in {{candidate.year}}!</h2>
{{else}}
<h2>That candidate couldn't be found!</h2>
{{/if}}

<form action="/candidates/{{candidate.name}}" method="post">
  <input type="text" name="candidate[name]" value="{{candidate.name}}">
  <input type="number" name="candidate[year]" placeholder="{{candidate.year}}">
  <button type="Submit">Update Candidate</button>
</form>

<form action="/candidates/{{candidate.name}}/delete" method="post">
  <button type="Submit">Concede</button>
</form>
