<!DOCTYPE html>
<html data-ng-app="candidates">
  <head>
    <title>When President</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <!-- states where application's routes start from / what are they relative to – here, realtive to the root route -->
    <base href="/" /></base>
  </head>
  <body>
    <h1><a href="/">When President...</a></h1>
    <nav>
      {{#if user}}
      <img src="{{user.t_photo_url}}" alt="{{user.name}}" />
      Welcome, {{user.name}}!
      <a href="/logout">Sign out</a>
      {{else}}
      <a href="/login/twitter">Sign in</a>
      {{/if}}
    </nav>
    {{{body}}}
    <!-- <main data-ui-view></main> -->
  </body>
</html>
